@use 'partials/variables' as *;
@use 'partials/mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: $font-body;
  font-size: $fs-base;
  line-height: 1.6;
  color: $color-text;
  background-color: $color-white;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  font: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  line-height: 1.2;
  color: $color-navy;
}

::selection {
  background-color: rgba($color-primary, 0.15);
  color: $color-navy;
}